@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.container-fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    width: 100%;
    height: 35em;
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: 100% 100%;

}
.container-fondo h1{
font-size: 5em;
font-family: 'Lato', sans-serif;
color: rgb(8, 49, 63);
text-shadow: 0px 0px 10px rgb(255, 255, 255);
text-align: center;
}